* {
    margin: 0;
    padding: 0;
}

:root {
    --heading-: #001F3F;
    --Sub-heading-: #;
    --Text-: #001F3F;
    --Links-: #001F3F;
    --background-: #001F3F;
    --overlay-: rgba(0, 0, 0, 0.413);
}

/* ================================================ */

.order-image-hero {
    background-image: url('../Images/order.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}